* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

#root {
  flex-grow: 1;
  display: "flex";
}

body {
  background-color: #aaf0d1;
  height: 100vh;
  display: flex;
  place-items: center;
  justify-content: center;
}
